/*VARIAVEIS*/
$texto-color: #000100;
$fundoEsquerdo: #49c5b1;

/*MIXINS*/
@mixin border-radius($radius) {
  	-webkit-border-top-left-radius: $radius;
	-webkit-border-bottom-right-radius: $radius;
	-moz-border-radius-topleft: $radius;
	-moz-border-radius-bottomright: $radius;
	border-top-left-radius: $radius;
	border-bottom-right-radius: $radius;
}
$break-small: 840px;
@mixin respond-to($media) {
  @if $media == handhelds {
    @media only screen and (max-width: $break-small) { @content; }
  }
}

body{
	@include primary-font(400);
	color: $texto-color;
}
.secLeft{
	background: $fundoEsquerdo;
	color: #fff;
	float: left;
	width: 50%;
	text-align: center;
	padding: 0 0 40px 0;
	@include respond-to(handhelds) { width: 100%}
	header{
		padding: 89px 0 0 0;
		width: 518px;
		float: right;
		@include respond-to(handhelds) { width: 100% ; float: left;}
		img.imgThumb{
			@include border-radius(22px);
			width: 270px;
			height: 270px;
		}
		h1{
			font-size: 45px;
			text-align: center;
			font-weight: 300;
			text-transform: uppercase;
		}
		p.profissao{
			font-size: 30px;
			text-align: center;
			font-weight: 300;
			float: none;
			width: 100%;
			padding: 0;
		}
	}
	.content{
		padding: 0px 0 0 0;
		width: 518px;
		float: right;
		@include respond-to(handhelds) { width: 100% ; float: left;}
		.icones{
			background: #fff;
			color: $fundoEsquerdo;
			padding: 15px 10px 10px 10px;
			width: 56px;
			height: 56px;
			@include border-radius(8px);
			float: left;
			margin: 50px 20px 0 0;
			text-align: center;
		}
		h2{
			font-size: 32px;
			float: left;
			font-weight: 300;
			text-transform: uppercase;
			padding: 60px 0 0 0;
			margin: 0 0 20px 0;
		}
		p{
			float: left;
			clear: both;
			padding: 10px 0 0 0;
			text-align: left;
			.iconesContact{
				color: #fff;
				background: none;
				padding: 0 0 0 5px;
				width: 10px;
				float: left;
				height: 10px;
				@include border-radius(0px);
				float: left;
				margin: 0 20px 0 0;
			}
		}
		#skills{
			float: left;
			.titleSkill{
				float: left;
				width: 250px;
				text-transform: uppercase;
				clear: both;
				text-align: left;
				margin: 10px 0 0 0;
			}
		}
		#barStatus {
		  float: right;
		  margin: 10px 40px 0 0 ;
		  width: 225px;
		  height: 18px;
		  background: #fff;
		  #loadSkill{
		  	background: #a6a5a5;
		  	float: left;
		  	width: 50%;
		  	height: 18px;
		  }
		}
		.titleSkill{
			font-size: 18px;
		}
	}
}
.secRight{
	background: #fff;
	color: $texto-color;
	float: left;
	width: 50%;
	padding: 0 0 20px 0;
	@include respond-to(handhelds) { width: 100%}
	.content{
		width: 458px;
		padding: 0 0 0 60px;
		float: left;
		margin: 80px 0 0 0;
		@include respond-to(handhelds) { width: 100% ; float: left; clear: both;}
		.icones{
			background: $fundoEsquerdo;
			color: #fff;
			padding: 15px 10px 10px 10px;
			width: 56px;
			height: 56px;
			@include border-radius(8px);
			float: left;
			margin: 50px 20px 0 0;
		}
		h2{
			font-size: 32px;
			float: left;
			font-weight: 300;
			text-transform: uppercase;
			padding: 65px 0 0 0;
			margin: 0 0 20px 0;
			color: $fundoEsquerdo;
		}
		#educacao, #experiencia, #premios	{
			float: left;
			clear: both;
			span.mes{
				float: left;
				clear: both;
				width: 115px;
				text-align: center;
				color: #636363;
				margin: 20px 0 0 -17px;
			}
			span.ano{
				float: left;
				clear: both;
				width: 122px;
				text-align: center;
				color: #636363;
				margin: 0 0 0 -17px;
			}
			h3{
				float: right;
		    	color: #000100;
		    	text-transform: uppercase;
		    	font-size: 18px;
		    	width: 353px;
		    	margin: -22px 0 0 0;
			}
			p{
				float: left;
				clear: both;
			}
			p.universidade{
				width: 347px;
				clear: none;
			}
			p.descricao{
				width: 353px;
				clear: none;
				float: right;
				color: #7d7d7d;
			}
		}
		#pskills{
			float: left;
			.titleSkill{
				float: left;
				width: 182px;
				text-transform: uppercase;
				clear: both;
				text-align: left;
				margin: 10px 0 0 0;
			}
		}
		#pbarStatus {
		  float: right;
		  margin: 10px 40px 0 0 ;
		  width: 225px;
		  height: 18px;
		  background: #a6a5a5;
		  #ploadSkill{
		  	background: #49c5b1;
		  	float: left;
		  	width: 50%;
		  	height: 18px;
		  }
		}
	}
}