@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700");
/* line 6, ../scss/core/reset.sass */
ul, ol {
  list-style: none;
}

/* line 8, ../scss/core/reset.sass */
h1, h2, h3, h4, h5, h6, pre, code {
  font-size: 1em;
}

/* line 10, ../scss/core/reset.sass */
ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form, body, html, p, blockquote, fieldset, input, dl, dt, dd, figure, figcaption, button {
  margin: 0;
  padding: 0;
}

/* line 13, ../scss/core/reset.sass */
a img, :link img, :visited img, fieldset {
  border: none;
}

/* line 15, ../scss/core/reset.sass */
address {
  font-style: normal;
}

/* line 17, ../scss/core/reset.sass */
header, section, article, nav, footer, hgroup, details, summary, figure, main {
  display: block;
}

/* line 19, ../scss/core/reset.sass */
mark {
  color: inherit;
  background: transparent;
}

/* line 22, ../scss/core/reset.sass */
abbr {
  border: none;
}

/* line 24, ../scss/core/reset.sass */
summary::-webkit-details-marker {
  display: none;
}

/* TAMANHO DAS FONTS
light: 300,
regular: 400,
semi-bold: 600,
bold: 700,
*/
/*VARIAVEIS*/
/*MIXINS*/
/* line 21, ../scss/core/layout.scss */
body {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  color: #000100;
}

/* line 25, ../scss/core/layout.scss */
.secLeft {
  background: #49c5b1;
  color: #fff;
  float: left;
  width: 50%;
  text-align: center;
  padding: 0 0 40px 0;
}
@media only screen and (max-width: 840px) {
  /* line 25, ../scss/core/layout.scss */
  .secLeft {
    width: 100%;
  }
}
/* line 33, ../scss/core/layout.scss */
.secLeft header {
  padding: 89px 0 0 0;
  width: 518px;
  float: right;
}
@media only screen and (max-width: 840px) {
  /* line 33, ../scss/core/layout.scss */
  .secLeft header {
    width: 100%;
    float: left;
  }
}
/* line 38, ../scss/core/layout.scss */
.secLeft header img.imgThumb {
  -webkit-border-top-left-radius: 22px;
  -webkit-border-bottom-right-radius: 22px;
  -moz-border-radius-topleft: 22px;
  -moz-border-radius-bottomright: 22px;
  border-top-left-radius: 22px;
  border-bottom-right-radius: 22px;
  width: 270px;
  height: 270px;
}
/* line 43, ../scss/core/layout.scss */
.secLeft header h1 {
  font-size: 45px;
  text-align: center;
  font-weight: 300;
  text-transform: uppercase;
}
/* line 49, ../scss/core/layout.scss */
.secLeft header p.profissao {
  font-size: 30px;
  text-align: center;
  font-weight: 300;
  float: none;
  width: 100%;
  padding: 0;
}
/* line 58, ../scss/core/layout.scss */
.secLeft .content {
  padding: 0px 0 0 0;
  width: 518px;
  float: right;
}
@media only screen and (max-width: 840px) {
  /* line 58, ../scss/core/layout.scss */
  .secLeft .content {
    width: 100%;
    float: left;
  }
}
/* line 63, ../scss/core/layout.scss */
.secLeft .content .icones {
  background: #fff;
  color: #49c5b1;
  padding: 15px 10px 10px 10px;
  width: 56px;
  height: 56px;
  -webkit-border-top-left-radius: 8px;
  -webkit-border-bottom-right-radius: 8px;
  -moz-border-radius-topleft: 8px;
  -moz-border-radius-bottomright: 8px;
  border-top-left-radius: 8px;
  border-bottom-right-radius: 8px;
  float: left;
  margin: 50px 20px 0 0;
  text-align: center;
}
/* line 74, ../scss/core/layout.scss */
.secLeft .content h2 {
  font-size: 32px;
  float: left;
  font-weight: 300;
  text-transform: uppercase;
  padding: 60px 0 0 0;
  margin: 0 0 20px 0;
}
/* line 82, ../scss/core/layout.scss */
.secLeft .content p {
  float: left;
  clear: both;
  padding: 10px 0 0 0;
  text-align: left;
}
/* line 87, ../scss/core/layout.scss */
.secLeft .content p .iconesContact {
  color: #fff;
  background: none;
  padding: 0 0 0 5px;
  width: 10px;
  float: left;
  height: 10px;
  -webkit-border-top-left-radius: 0px;
  -webkit-border-bottom-right-radius: 0px;
  -moz-border-radius-topleft: 0px;
  -moz-border-radius-bottomright: 0px;
  border-top-left-radius: 0px;
  border-bottom-right-radius: 0px;
  float: left;
  margin: 0 20px 0 0;
}
/* line 99, ../scss/core/layout.scss */
.secLeft .content #skills {
  float: left;
}
/* line 101, ../scss/core/layout.scss */
.secLeft .content #skills .titleSkill {
  float: left;
  width: 250px;
  text-transform: uppercase;
  clear: both;
  text-align: left;
  margin: 10px 0 0 0;
}
/* line 110, ../scss/core/layout.scss */
.secLeft .content #barStatus {
  float: right;
  margin: 10px 40px 0 0;
  width: 225px;
  height: 18px;
  background: #fff;
}
/* line 116, ../scss/core/layout.scss */
.secLeft .content #barStatus #loadSkill {
  background: #a6a5a5;
  float: left;
  width: 50%;
  height: 18px;
}
/* line 123, ../scss/core/layout.scss */
.secLeft .content .titleSkill {
  font-size: 18px;
}

/* line 128, ../scss/core/layout.scss */
.secRight {
  background: #fff;
  color: #000100;
  float: left;
  width: 50%;
  padding: 0 0 10px 0;
}
@media only screen and (max-width: 840px) {
  /* line 128, ../scss/core/layout.scss */
  .secRight {
    width: 100%;
  }
}
/* line 135, ../scss/core/layout.scss */
.secRight .content {
  width: 458px;
  padding: 0 0 0 60px;
  float: left;
  margin: 80px 0 0 0;
}
@media only screen and (max-width: 840px) {
  /* line 135, ../scss/core/layout.scss */
  .secRight .content {
    width: 100%;
    float: left;
    clear: both;
  }
}
/* line 141, ../scss/core/layout.scss */
.secRight .content .icones {
  background: #49c5b1;
  color: #fff;
  padding: 15px 10px 10px 10px;
  width: 56px;
  height: 56px;
  -webkit-border-top-left-radius: 8px;
  -webkit-border-bottom-right-radius: 8px;
  -moz-border-radius-topleft: 8px;
  -moz-border-radius-bottomright: 8px;
  border-top-left-radius: 8px;
  border-bottom-right-radius: 8px;
  float: left;
  margin: 50px 20px 0 0;
}
/* line 151, ../scss/core/layout.scss */
.secRight .content h2 {
  font-size: 32px;
  float: left;
  font-weight: 300;
  text-transform: uppercase;
  padding: 65px 0 0 0;
  margin: 0 0 20px 0;
  color: #49c5b1;
}
/* line 160, ../scss/core/layout.scss */
.secRight .content #educacao, .secRight .content #experiencia, .secRight .content #premios {
  float: left;
  clear: both;
}
/* line 163, ../scss/core/layout.scss */
.secRight .content #educacao span.mes, .secRight .content #experiencia span.mes, .secRight .content #premios span.mes {
  float: left;
  clear: both;
  width: 115px;
  text-align: center;
  color: #636363;
  margin: 20px 0 0 -17px;
}
/* line 171, ../scss/core/layout.scss */
.secRight .content #educacao span.ano, .secRight .content #experiencia span.ano, .secRight .content #premios span.ano {
  float: left;
  clear: both;
  width: 122px;
  text-align: center;
  color: #636363;
  margin: 0 0 0 -17px;
}
/* line 179, ../scss/core/layout.scss */
.secRight .content #educacao h3, .secRight .content #experiencia h3, .secRight .content #premios h3 {
  float: right;
  color: #000100;
  text-transform: uppercase;
  font-size: 18px;
  width: 353px;
  margin: -22px 0 0 0;
}
/* line 187, ../scss/core/layout.scss */
.secRight .content #educacao p, .secRight .content #experiencia p, .secRight .content #premios p {
  float: left;
  clear: both;
}
/* line 191, ../scss/core/layout.scss */
.secRight .content #educacao p.universidade, .secRight .content #experiencia p.universidade, .secRight .content #premios p.universidade {
  width: 347px;
  clear: none;
}
/* line 195, ../scss/core/layout.scss */
.secRight .content #educacao p.descricao, .secRight .content #experiencia p.descricao, .secRight .content #premios p.descricao {
  width: 353px;
  clear: none;
  float: right;
  color: #7d7d7d;
}
/* line 202, ../scss/core/layout.scss */
.secRight .content #pskills {
  float: left;
}
/* line 204, ../scss/core/layout.scss */
.secRight .content #pskills .titleSkill {
  float: left;
  width: 182px;
  text-transform: uppercase;
  clear: both;
  text-align: left;
  margin: 10px 0 0 0;
}
/* line 213, ../scss/core/layout.scss */
.secRight .content #pbarStatus {
  float: right;
  margin: 10px 40px 0 0;
  width: 225px;
  height: 18px;
  background: #a6a5a5;
}
/* line 219, ../scss/core/layout.scss */
.secRight .content #pbarStatus #ploadSkill {
  background: #49c5b1;
  float: left;
  width: 50%;
  height: 18px;
}
